@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Montserrat", monospace;
  font-size: 1rem; /*16px*/
  color: var(--color-main-text);

  /* Color Variables */

  --color-bg: #e7dfd5;
  --color-bg-header-footer: #204051;
  --color-bg-announcement-bar: #3b6978;
  --color-form-border: #606060;
  --color-base-text: #f1ebe3;
  --color-main-text: #121212;
  --color-alternative-text: #404040;
  --color-link-text: #748c70;

  /* Shopping Cart Component */
  --color-cart-text-button-comp: #49656f;
  --color-cart-text-button-comp-hover: #b27652;
  --color-hr: #dfdfdf;
  --color-cart-bg-gray: #d1d9cf;

  /* Quantity Button Component */
  --color-quantity-button: #d1d9cf;
}

main a {
  color: var(--color-link-text);
}

.color-text-white {
  color: var(--color-base-text);
}

.header-bar {
  background-color: var(--color-bg-header-footer);
  color: var(--color-base-text);
}

footer {
  background-color: var(--color-bg-header-footer);
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Others */

input[disabled] {
  opacity: 0.6; /* This will make it 50% transparent */
  background-color: #f1f1f1; /* This will set a dark background color */
}

/* Menu Effects */

.nav-center-link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
}

.nav-center-link span {
  color: #404040;
  display: block;
  transition: transform 1s;
}

/* Only apply hover styles if the hover media feature is available */
@media (hover: hover) {
  .nav-center-link:hover span {
    transform: translateY(-100%);
  }

  .nav-center-link::before {
    position: absolute;
    content: attr(data-link-alt);
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 1s, top 1s;
    color: #3b6978;
    font-weight: bolder;
  }

  .nav-center-link:hover::before {
    top: 0;
    opacity: 1;
  }
}

/* Modal Dialog */

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  z-index: 2;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal__backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal__close-button {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.modal-cart {
  display: none;
  position: absolute;
  top: 100px; /* Ajusta esta posición según tu diseño */
  right: 50%;
  transform: translateX(-50%);
  z-index: 999; /* Asegura que el modal esté por encima del contenido del body */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
